body {
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* W3C */
}

#container {
    width: 360px;
    margin: 6% auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

#container:hover {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    line-height: 40px;
}

span {
    display: inline-block;
    color: white;
    width: 0;
    text-align: center;
    height: 40px;
    margin-right: 20px;
    opacity: 0;
    transition: 0.6s cubic-bezier(0, 0.89, 0.24, 0.99);
    background-color: #e74c3c;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

ul :nth-of-type(2n) {
    background-color: #e6e6e6;
}

h1 {
    margin: 0;
    background: #2980b9;
    color: white;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
}

.fa-plus {
    float: right;
    margin:auto 0;
}

input[type="text"] {
    width: 100%;
    font-size: 18px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #e6e6e6;
    color: #2980b9;
    display: none;
}

input[type="text"]:focus {
    outline: none;
    border: 3px solid #2980b9;
}